<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../../layout/head.ejs') %>
</head>
<body>
    <h1>Best Books Details</h1>
    <a href="./../"> Home </a>
    
    <%- include('detail.ejs', {myBook : myBook}) %>

<!-- add an "update details" button -->
  

<!-- goes toadd a form -->
<!-- shows the data -->
<!-- user can edit the data -->
<!-- "update book" button will update the database -->

</body>
</html>
