* {
    /* background-color: black; */
}
a{
    color: white;
}

h1 {
    color:white;
    background-color: black;
}

body{
    background-color: lightgrey;
}

img{
    width: 200px;
    border: 5px white;

}


#description{
    background-color: white
}

#title, #author{
    background-color: lightgrey;
}

#title{
    color:white;
}

#ISBN{
    background-color: lightgrey;
}

ol{
    background-color: gray;
}

@media all and (max-width:1024px){
    *{
        background-color: lightgrey;
    }

    body{
        background-color: black;
    }

}