
/* //////////Mobile///////////////// */
* {
    box-sizing: border-box;
  }


main {
      height: 767px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 50px 1fr 50px;
      grid-template-rows: 100px 10%;
      /* grid-template-rows: 100px 10% 10% 10% 10% 10% 10% 10% 10% 10% 1fr 10%; */
      
    }

* {
    background-color: rgb(102, 97, 97);
}
/* 
div{
    padding: 50px;
    align-content: center;
    text-align: center;
    clear: both;
} */

.sectionBook{
    background-color:darkgray;
    text-align: center;
    padding-bottom: 30px;
}

.lbTitle{
    display: block;
    background-color:darkgray;
    padding: 10px;
    font-size: x-large;

}

.lbAuthor{
    display: block;
    background-color:darkgray;
    font-style: italic;
    font-size: 20px;
}

ul{
    list-style-type:none;
}

.header {
    background-color: black;
    color: white;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1;
    grid-column-end:4;
    margin: 0px;
    height: 100px;
    line-height: 100px;

}
.imgBook{
    width: 200px;
    border: 5px white;

}

a {
    background-color: black;
    color: white;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:3;
    grid-column-end:4;
    height: 100px;
    line-height: 100px;
}

h4{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:1;
    grid-column-end:4;
}

.secondHeader {
    background-color: rgb(75, 72, 72);
    color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:1;
    grid-column-end:4;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-style: italic;
    
}

/* h3{
    font-style: italic;
}

#numMyBooks{
    background-color:lightgrey;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start:1;
    grid-column-end:4;
} */

#enterTitleOrAuthor {
    background-color: white;
    color: black;
    font-size: 30px;
    font-family: bold;
    /* grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start:2;
    grid-column-end:3; */
}




button {
    background-color: black;
    color: white;
    font-size: 20px;
    
}

#a {
  background-color: blue;
  /* grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start:1;
  grid-column-end:3; */
}

span {
    font-size: 30px;
    font-family: bold;
    height: 30px;
    line-height: 30px;
}

form {
    display: grid;
    grid-column-start: 2;
    grid-row: 3 / 7;
    text-align: center;
    justify-self: stretch;
    grid-template-rows: 80px 80px 80px 80px;
    grid-row-gap: 20px;
    text-align: left;
    line-height: 100px;
    color: white;
   
}
  
div{
    display: grid;
    /* grid-column-start: 2; */
    /* grid-row: 3 / 7; */
    text-align: center;
    justify-self: stretch;
    /* grid-template-rows: 80px 80px 80px 80px;
    grid-row-gap: 20px; */
    text-align: left;
    line-height: 100px;
    color: white;
   
}

fieldset, span, input, label {
    background-color: rgb(224, 209, 209);
    color: black;
}

footer {
    background-color: black;
    height: 50px;
}
  
  
  



/* ///////////////// Desktop ////////////// */
@media all and (min-width:1024px){


* {
    background-color:lightgray;
}
a{
    color: white;
}


input{
    width: 250px;
}
h1 {
    color:white;
    background-color: black;
}

body{
    background-color: lightgrey;
}

img{
    width: 200px;
    border: 5px white;

}




#description{
    background-color: white
}

#title, #author{
    background-color: lightgrey;
}

#title{
    color:white;
}

#ISBN{
    background-color: lightgrey;
}

ol{
    background-color: gray;
}



}